<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

	<parameter name="depthalfcityName" value="Mumb" />
	<parameter name="fulldeptName" value="Mumbai(BOM)" />
	<parameter name="arrvhalfcityName" value="singa" />
	<parameter name="arrfullcityName" value="Singapore(SIN)" />
	<parameter name="BlogTitle" value="HOLIDAY DESTINATIONS" />
	<test name="dropDown">
		<classes>
			<class name="EasyMyTrip.dropDownTest" />
		</classes>
	</test>

	<test name="brokenLink">
		<classes>
			<class name="EasyMyTrip.BrokenLink" />
		</classes>
	</test>

	<test name="calender">
		<classes>
			<class name="EasyMyTrip.calender" />
		</classes>
	</test>

	<test name="webCheckIn">
		<classes>
			<class name="EasyMyTrip.WebCheckIn" />
		</classes>
	</test>
	
	<test name="Travel">
		<classes>
			<class name="EasyMyTrip.TravelBlog" />
		</classes>
	</test>



</suite> <!-- Suite -->
